@model IEnumerable< MangoERP.Models.Grave>

@{
    ViewBag.Title = "Index";
}

<style>
    table, th, td {
        border: 5px solid white;
    }
td {
    FONT-STYLE: initial;
    padding: 24px;
    color: white;
    font-size: 40px;
    width: 142px;

height: 95px;
align-items: center;
}
</style>

<table>

   
    <tr>
        @foreach (var item in Model)
        {
            if (@item.Section_Id == 1)
            {
                if (@item.Grave_Status_Id == 1)
                {
                <!-- AVAIABLE -->
                <td style="background-color:greenyellow">
                    <a href="~/customers/Edit/?Id=@item.Id"  >@item.Grave_Name</a>

                </td>
                }
                else if (@item.Grave_Status_Id == 2)
                {

                <td style="background-color:yellow">
                    <a href="~/customers/Edit/?Id=@item.Id">@item.Grave_Name</a>
                </td>
                }
                else
                {

                <td style="background-color:cyan">
                    <a href="~/customers/Edit/?Id=@item.Id">@item.Grave_Name</a>
                </td>
                }
            }
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            if (@item.Section_Id == 2)
            {
                if (@item.Grave_Status_Id == 1)
                {
                <!-- AVAIABLE -->
                    <td style="background-color:greenyellow">
                        <a href="~/customers/Edit/?Id=@item.Id">@item.Grave_Name</a>

                    </td>
                }
                else if (@item.Grave_Status_Id == 2)
                {

                    <td style="background-color:yellow">
                        <a href="~/customers/Edit/?Id=@item.Id">@item.Grave_Name</a>
                    </td>
                }
                else
                {

                    <td style="background-color:cyan">
                        <a href="~/customers/Edit/?Id=@item.Id">@item.Grave_Name</a>
                    </td>
                }
            }
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            if (@item.Section_Id == 3)
            {
                if (@item.Grave_Status_Id == 1)
                {
                <!-- AVAIABLE -->
                    <td style="background-color:greenyellow">
                        <a href="~/customers/Edit/?Id=@item.Id">@item.Grave_Name</a>

                    </td>
                }
                else if (@item.Grave_Status_Id == 2)
                {

                    <td style="background-color:yellow">
                        <a href="~/customers/Edit/?Id=@item.Id">@item.Grave_Name</a>
                    </td>
                }
                else
                {

                    <td style="background-color:cyan">
                        <a href="~/customers/Edit/?Id=@item.Id">@item.Grave_Name</a>
                    </td>
                }
            }
        }
    </tr>
</table>
