@model IEnumerable<MangoERP.Models.Purchase>

@{
    ViewBag.Title = "Index";
}


<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <table class="table" id="table1">
                                <thead>
                                    <tr>
                                        <th>
                                            GR
                                        </th>
                                        <th>
                                            VendorName
                                        </th>

                                        <th>
                                            DocumnetDate
                                        </th>
                                        <th>
                                            PostingDate
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>Action</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GR)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Vendor.Vendor_Name)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.DocumnetDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PostingDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalAmount)
                                            </td>
                                            

                                            <td>
                                                @*@if (item.Status == 2)
        {*@
                                                @Html.ActionLink("Details", "Details", new { Id = item.Id }, null)
                                                |
                                                @Html.ActionLink("GR Return", "Create", "PurchaseReturn", new { Id = item.Id }, null)
                                                @*}*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
    {
    <script type="text/javascript">



                                        $(document).ready(function () {
                                            $('#table1').DataTable();

                                        });
    </script>
}
