@model MangoERP.Models.Grave

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Section_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grave_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grave_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grave_Status_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grave_Status_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
