@model MangoERP.Models.Customer

@{
    ViewBag.Title = "Edit";
}


<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.HiddenFor(model => model.customer_ID)
                                <div class="form-group mb-1 col-sm-12 col-md-2" display:none>

                                    @Html.EditorFor(model => model.customer_ID, new { htmlAttributes = new { @class = "form-control", @style = "display:none", @id = "customerid" } })


                                </div>
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <div class="form-group" style="display:none">
                                      

                                        <div class="col-md-10">
                                            @*@Html.DropDownList("Grave_Id", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Grave_Id, "", new { @class = "text-danger" })*@
                                            <input class="form-control" name="GraveId" value="@ViewBag.GraveId" readonly />
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="icon-eye6"></i> Update Customer </h4>
                                    <div class="row">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Type</label>
                                            <br>
                                            <select class="form-control target" value="@ViewBag.hidden" name="typedetail" required>
                                                <option>Select Option</option>
                                                <option id="1" value="Booked">Booked</option>
                                                <option id="2" value="Reserved">Reserved</option>
                                            </select>
                                            <input value="@ViewBag.hidden" id="selectvalue" type="hidden" />
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label> Grave Size</label>
                                            <br>
                                            <select class="form-control targetGraveSize" value="@ViewBag.hiddensize" name="GraveSizeId" required>
                                                <option>Select Option</option>
                                                <option id="1" value="1">Adult</option>
                                                <option id="2" value="2">Child</option>
                                                <option id="2" value="3">new born</option>
                                            </select>
                                            <input value="@ViewBag.hiddensize" id="targetGraveSize" type="hidden" />

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Grave Name</label>
                                            <br>
                                            <input class="form-control" value="@ViewBag.GraveName" readonly />

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>First  Name</label>
                                            <br>

                                            <input class="form-control" name="first_name" required />

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Last Name</label>
                                            <br>
                                            <input class="form-control" name="last_name" required />

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Delivery Date</label>
                                            <br>

                                            <input class="form-control" type="date" name="DeliveryDate" id="DeliveryDate" />

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" style="display:none">
                                            <label>Order Date</label>
                                            <br>
                                            <input class="form-control" type="date" name="OrderDate" id="OrderDate" />

                                        </div>



                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Contact</label>
                                            <br>
                                            <input class="form-control" type="number" name="Contact" id="phone" required />

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Email</label>
                                            <br>

                                            <input class="form-control" type="email" name="Email" required />

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Country</label>
                                            <br>
                                            <input class="form-control" name="Country" value="Pakistan" required />


                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>City</label>
                                            <br>
                                            <input class="form-control" name="City" value="Karachi" required />

                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Cnic</label>
                                            <br>
                                            <input class="form-control" id="cnic" type="text" name="cnic" required onchange="validateInput()" />

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Date Of Birth</label>
                                            <br>

                                            <input class="form-control" type="date" name="date_of_birth" id="date_of_birth" required />

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-6">
                                            <label>Address</label>
                                            <br>

                                            <input class="form-control" type="text" name="Address" required />

                                        </div>

                                    </div>
                                    <div class="row" id="show">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Deceased Person </label>
                                            <br>

                                            <input class="form-control" type="text" name="DeceasedPerson" />


                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Deceased Cnic </label>
                                            <br>

                                            <input class="form-control" type="text" name="DeceasedCnic" id="DeceasedCnic" onchange="validateInputde()" />


                                        </div>
                                        @*<div class="form-group" style="display:none">
            <div class="col-md-10">
                <input class="form-control" name="GraveId" value="@TempData["GraveId"]" readonly />

            </div>
        </div>*@
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label> Reason Of Death </label>
                                            <br>

                                            <input class="form-control" type="text" name="ReasonOfDeath" />


                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Date of Death </label>
                                            <br>

                                            <input class="form-control" type="date" name="DateofDeath" id="DateofDeath" />


                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Deceased  Date of Birth </label>
                                            <br>

                                            <input class="form-control" type="date" name="DeceasedDateofBirth" id="DeceasedDateofBirth" onchange="compareDates()" />


                                        </div>

                                    </div>

                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label>Action</label>
                                        <br>

                                        <input type="submit" value="Save" class="btn btn-default" />

                                    </div>


                                </div>



                            }
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>
</div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script type="text/javascript">

        function compareDates() {
            const birthday = new Date(document.getElementById('DeceasedDateofBirth').value);
            const deathDate = new Date(document.getElementById('DateofDeath').value);

            if (deathDate > birthday) {

            } else {
                alert('The death date is not greater than the birthday.');
                $('#DateofDeath').val('');
            }
        }
        function validateCNIC(cnic) {
            var regex = /^(\d{5})-?(\d{7})-?(\d{1})$/i;
            return regex.test(cnic);
        }

        function validateInput() {
            var cnicInput = document.getElementById("cnic");
            var cnic = cnicInput.value;
            var isValid = validateCNIC(cnic);
            if (!isValid) {
                alert("Invalid CNIC");
                $("#cnic").val("");

            } else {
                cnicInput.setCustomValidity("");
            }
        }
        function validateInputde() {
            debugger
            var cnicInput = document.getElementById("DeceasedCnic");
            var cnic = cnicInput.value;
            var isValid = validateCNIC(cnic);
            if (!isValid) {
                alert("Invalid CNIC");
                $("#DeceasedCnic").val("");

            } else {
                cnicInput.setCustomValidity("");
            }
        }
        function saew() {
            var cnicInput = document.getElementById("cnic");
            var cnic = cnicInput.value;
            var isValid = validateCNIC(cnic);
            if (!isValid) {
                alert("Invalid CNIC");
                $("#cnic").val("");

            } else {
                cnicInput.setCustomValidity("");
            }
        }



        $(document).ready(function () {


            var val = $('#customerid').val();
            $.ajax({
                type: 'POST',
                url: '/Customers/EditForm',
                dataType: 'json',
                async: false,
                data: { id: val },
                success: function (result) {
                    console.log(result);
                    if (result != null && result != 0) {
                        $('[name="first_name"]').val(result.first_name);
                        $('[name="last_name"]').val(result.last_name);
                        $('[name="Contact"]').val(result.Contact);
                        $('[name="Email"]').val(result.Email);
                        $('[name="Address"]').val(result.Address);
                        $('[name="city"]').val(result.city);
                        $('[name="country"]').val(result.country);
                        $('[name="cnic"]').val(result.cnic);
                        $('[name="DeceasedPerson"]').val(result.DeceasedPerson);
                        $('[name="DeceasedCnic"]').val(result.DeceasedCnic);
                        $('[name="ReasonOfDeath"]').val(result.ReasonOfDeath);

                        $('[name="date_of_birth"]').val(result.date_of_birth ? moment(result.date_of_birth).format('YYYY-MM-DD') : '');
                        $('[name="DeliveryDate"]').val(result.DeliveryDate ? moment(result.DeliveryDate).format('YYYY-MM-DD') : '');
                        $('[name="DateofDeath"]').val(result.DateofDeath ? moment(result.DateofDeath).format('YYYY-MM-DD') : '');
                        $('[name="DeceasedDateofBirth"]').val(result.DeceasedDateofBirth ? moment(result.DeceasedDateofBirth).format('YYYY-MM-DD') : '');

                   
                    }
                },
                error: function (ex) {

                }
            });


            //var dateToday2 = $('#date_of_birth').val();
            //var date2 = new Date(dateToday2).toLocaleDateString();

            //$('#date_of_birth').val(date2);

            //var dateToday = $('#OrderDate').val();
            //var date = new Date(dateToday).toLocaleDateString();

            //$('#OrderDate').val(date);

            //var dateToday1 = $('#DeliveryDate').val();
            //var dat1e = new Date(dateToday1).toLocaleDateString();

            ////    $('#DeliveryDate').val(dat1e);

            //var d = $('#Dob').val();
            //if (d != "") {
            //    var da = new Date(d).toLocaleDateString();

            //    $('#Dob').val(da);
            //}
            //var DDob = $('#DDob').val();
            //if (DDob != "") {
            //    var qa = new Date(DDob).toLocaleDateString();

            //    $('#DDob').val(qa);
            //}

            var targetGraveSize = $("#targetGraveSize").val();

            var data = $("#selectvalue").val();

            $(".targetGraveSize").val(targetGraveSize);

            debugger
            if (data == "Booked") {

                $(".target").val("Booked");
                //  $(".target").val("Booked");
                //   $('.target').attr('readonly', 'true');

                $("#show").show();
            } else {
                $(".target").val("Reserved");

                $("#show").hide();
            }
            $(".target").on("change", function () {
                var data = $(this).val();
                if (data == "Booked") {
                    $("#show").show();
                } else {
                    $("#show").hide();
                }


            });



            $(".target").on("change", function () {
                var data = $(this).val();
                debugger
                if (data == "Booked") {
                    $("#show").show();
                }
                else {
                    $("#show").hide();
                }


            });





            //$('#DeliveryDate').on('change', function () {


            //    var dateString = document.getElementById('DeliveryDate').value;
            //    var myDate = new Date(dateString);
            //    var today = new Date();

            //    if (myDate < today) {
            //        alert('Please select a date coming days.');
            //        $(this).val('')
            //    }

            //});

            $('#DeliveryDate').on('change', function () {


                var dateString = document.getElementById('DeliveryDate').value;
                var myDate = new Date(dateString);
                var today = new Date();

                if (myDate.toDateString() === today.toDateString()) {
                    //alert('Please select a date coming days.');
                    //$(this).val('')
                }
                else if (myDate < today) {
                    alert('Please select a future date.');
                    document.getElementById('DeliveryDate').value = ''; // clear the input field
                }
            });

            $('#OrderDate').on('change', function () {


                var dateString = document.getElementById('OrderDate').value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate < today) {
                    alert('Please select a date coming days.');
                    $(this).val('')
                }
                return true;

            });

            $('#date_of_birth').on('change', function () {

                var dateString = document.getElementById('date_of_birth').value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    alert('Please select a date that is not the next day.');
                    $(this).val('')
                }
                return true;
            });
            $('#DateofDeath').on('change', function () {


                var dateString = document.getElementById('DateofDeath').value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    alert('Please select a date that is not the next day.');
                    $(this).val('')
                }
                return true;
            });


            $('#DeceasedDateofBirth').on('change', function () {


                var dateString = document.getElementById('DeceasedDateofBirth').value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    alert('Please select a date that is not the next day.');
                    $(this).val('')
                }
                return true;
            });
        });
    </script>
}
